
@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<h1> VERY IMPORTANT* </h1>

<a href="/Home/Users"> Users (Classic HTML)</a>

@Html.ActionLink("Users (ASP.NET)", "Users", "Home")

<h6> * We will take all your money </h6>

<p>this page was created by <b>ME</b>.</p>

<style>

    h6 {
        color:red;
    }

</style>