
@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<h1> VERY IMPORTANT* </h1>

<a href="/Home/Users"> Users (Classic HTML)</a>

@Html.ActionLink("Users (ASP.NET)", "Users", "Home")

<h6> * We will take all your money </h6>

<p>this page was created by <b>ME</b>.</p>

<style>

    h6 {
        color:red;
    }

</style>

<a href="/Home/Books"> Books (Classic HTML)</a>

@Html.ActionLink("Books (ASP.NET)", "Books", "Home")

<h1> books for every taste </h1>
<h5> for registered users only</h5>


<style>
    h1 {
        color: red;
    }
</style>